.main {
    padding-top: 60px;
}

.group {
    display: flex;
}

.left_side {
    padding: 1.5rem;
    height: calc(100vh - 60px);
    width: 25%;
    margin-right: 1rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.left_side::-webkit-scrollbar {
    display: none;
}

.right_side {
    height: calc(100vh - 60px);
    padding: 1.5rem;
    position: relative;
    width: 75%;
    margin-left: 1rem;
    overflow-y: scroll;
}