.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
}

.logoText {
    margin-left: 8px;
}

.image {
    width: rem(30px);
    height: rem(30px);
}